.DS_Store
cifar-10-batches-py/
dir/khyperband/oracle.json
dir/khyperband/tuner0.json
dir/khyperband/trial_0000/checkpoint
dir/khyperband/trial_0000/checkpoint.data-00000-of-00001
dir/khyperband/trial_0000/checkpoint.index
dir/khyperband/trial_0000/trial.json
dir/khyperband/trial_0001/checkpoint
dir/khyperband/trial_0001/checkpoint.data-00000-of-00001
dir/khyperband/trial_0001/checkpoint.index
dir/khyperband/trial_0001/trial.json
dir/khyperband/trial_0002/checkpoint
dir/khyperband/trial_0002/checkpoint.data-00000-of-00001
dir/khyperband/trial_0002/checkpoint.index
dir/khyperband/trial_0002/trial.json
dir/khyperband/trial_0003/checkpoint
dir/khyperband/trial_0003/checkpoint.data-00000-of-00001
dir/khyperband/trial_0003/checkpoint.index
dir/khyperband/trial_0003/trial.json
dir/khyperband/trial_0004/checkpoint
dir/khyperband/trial_0004/checkpoint.data-00000-of-00001
dir/khyperband/trial_0004/checkpoint.index
dir/khyperband/trial_0004/trial.json
dir/khyperband/trial_0005/checkpoint
dir/khyperband/trial_0005/checkpoint.data-00000-of-00001
dir/khyperband/trial_0005/checkpoint.index
dir/khyperband/trial_0005/trial.json
dir/khyperband/trial_0006/checkpoint
dir/khyperband/trial_0006/checkpoint.data-00000-of-00001
dir/khyperband/trial_0006/checkpoint.index
dir/khyperband/trial_0006/trial.json
dir/khyperband/trial_0007/checkpoint
dir/khyperband/trial_0007/checkpoint.data-00000-of-00001
dir/khyperband/trial_0007/checkpoint.index
dir/khyperband/trial_0007/trial.json
dir/khyperband/trial_0008/checkpoint
dir/khyperband/trial_0008/checkpoint.data-00000-of-00001
dir/khyperband/trial_0008/checkpoint.index
dir/khyperband/trial_0008/trial.json
dir/khyperband/trial_0009/checkpoint
dir/khyperband/trial_0009/checkpoint.data-00000-of-00001
dir/khyperband/trial_0009/checkpoint.index
dir/khyperband/trial_0009/trial.json
dir/khyperband/trial_0010/checkpoint
dir/khyperband/trial_0010/checkpoint.data-00000-of-00001
dir/khyperband/trial_0010/checkpoint.index
dir/khyperband/trial_0010/trial.json
dir/khyperband/trial_0011/checkpoint
dir/khyperband/trial_0011/checkpoint.data-00000-of-00001
dir/khyperband/trial_0011/checkpoint.index
dir/khyperband/trial_0011/trial.json
dir/khyperband/trial_0012/checkpoint
dir/khyperband/trial_0012/checkpoint.data-00000-of-00001
dir/khyperband/trial_0012/checkpoint.index
dir/khyperband/trial_0012/trial.json
dir/khyperband/trial_0013/checkpoint
dir/khyperband/trial_0013/checkpoint.data-00000-of-00001
dir/khyperband/trial_0013/checkpoint.index
dir/khyperband/trial_0013/trial.json
dir/khyperband/trial_0014/checkpoint
dir/khyperband/trial_0014/checkpoint.data-00000-of-00001
dir/khyperband/trial_0014/checkpoint.index
dir/khyperband/trial_0014/trial.json
dir/khyperband/trial_0015/checkpoint
dir/khyperband/trial_0015/checkpoint.data-00000-of-00001
dir/khyperband/trial_0015/checkpoint.index
dir/khyperband/trial_0015/trial.json
dir/khyperband/trial_0016/checkpoint
dir/khyperband/trial_0016/checkpoint.data-00000-of-00001
dir/khyperband/trial_0016/checkpoint.index
dir/khyperband/trial_0016/trial.json
dir/khyperband/trial_0017/checkpoint
dir/khyperband/trial_0017/checkpoint.data-00000-of-00001
dir/khyperband/trial_0017/checkpoint.index
dir/khyperband/trial_0017/trial.json
dir/khyperband/trial_0018/checkpoint
dir/khyperband/trial_0018/checkpoint.data-00000-of-00001
dir/khyperband/trial_0018/checkpoint.index
dir/khyperband/trial_0018/trial.json
dir/khyperband/trial_0019/checkpoint
dir/khyperband/trial_0019/checkpoint.data-00000-of-00001
dir/khyperband/trial_0019/checkpoint.index
dir/khyperband/trial_0019/trial.json
dir/khyperband/trial_0020/checkpoint
dir/khyperband/trial_0020/checkpoint.data-00000-of-00001
dir/khyperband/trial_0020/checkpoint.index
dir/khyperband/trial_0020/trial.json
dir/khyperband/trial_0021/checkpoint
dir/khyperband/trial_0021/checkpoint.data-00000-of-00001
dir/khyperband/trial_0021/checkpoint.index
dir/khyperband/trial_0021/trial.json
dir/khyperband/trial_0022/checkpoint
dir/khyperband/trial_0022/checkpoint.data-00000-of-00001
dir/khyperband/trial_0022/checkpoint.index
dir/khyperband/trial_0022/trial.json
dir/khyperband/trial_0023/checkpoint
dir/khyperband/trial_0023/checkpoint.data-00000-of-00001
dir/khyperband/trial_0023/checkpoint.index
dir/khyperband/trial_0023/trial.json
dir/khyperband/trial_0024/checkpoint
dir/khyperband/trial_0024/checkpoint.data-00000-of-00001
dir/khyperband/trial_0024/checkpoint.index
dir/khyperband/trial_0024/trial.json
dir/khyperband/trial_0025/checkpoint
dir/khyperband/trial_0025/checkpoint.data-00000-of-00001
dir/khyperband/trial_0025/checkpoint.index
dir/khyperband/trial_0025/trial.json
dir/khyperband/trial_0026/checkpoint
dir/khyperband/trial_0026/checkpoint.data-00000-of-00001
dir/khyperband/trial_0026/checkpoint.index
dir/khyperband/trial_0026/trial.json
dir/khyperband/trial_0027/checkpoint
dir/khyperband/trial_0027/checkpoint.data-00000-of-00001
dir/khyperband/trial_0027/checkpoint.index
dir/khyperband/trial_0027/trial.json
dir/khyperband/trial_0028/checkpoint
dir/khyperband/trial_0028/checkpoint.data-00000-of-00001
dir/khyperband/trial_0028/checkpoint.index
dir/khyperband/trial_0028/trial.json
dir/khyperband/trial_0029/checkpoint
dir/khyperband/trial_0029/checkpoint.data-00000-of-00001
dir/khyperband/trial_0029/checkpoint.index
dir/khyperband/trial_0029/trial.json
